@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.text-white {
    color: white;
}

.text-black {
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body.standard {
    font-family: 'Raleway', sans-serif;
    background-color: #173143;
}

body.admin {
    font-family: 'Raleway', sans-serif;
    background-color: #1b1616;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
}

h3 {
    font-size: 1.5rem;
    font-weight: 800;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    color: white;
}

button {
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: white;
    color: red;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
}

#home button:hover,
.borrow-btn:hover,
.add-book-btn:hover {
    background-color: red;
    color: white;
}


.navbar.standard {
    background-color: #112030 !important;
    font-size: 20px;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    box-shadow: 0 1px 2px rgb(159, 157, 234);
}

.navbar.admin {
    background-color: #282323 !important;
    font-size: 20px;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    box-shadow: 0 1px 2px rgb(234, 157, 157);
}

.navbar-nav .nav-link {
    padding: 0 20px;
    color: white;
    white-space: nowrap;
    transition: 0.4s ease;
}


.standard .nav-buttons {
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin .nav-buttons {
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-nav .nav-link.active {
    color: red;
}

.navbar i {
    font-size: 2.5rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 700;
    cursor: pointer;
    margin-left: 20px;
    color: white;
}

.logo {
    width: 400px;
    height: 120px;
    margin: 0 0;
    padding: 0 0;
    cursor: pointer;
}

footer .logo {
    width: 300px;
    height: 120px;
    margin: 0 0;
    padding: 0 0;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    border: 2px solid white;
    margin-left: 20px;
    transition: 0.4s ease;
}

.book-img {
    width: 60px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    display: block;
    border: 2px solid white;
    margin-left: 20px;
    transition: 0.4s ease;
}

.profile-img:hover {
    border: 2px solid red;
}

.hide-view {
    display: none;
}

@media only screen and (max-width:990px) {

    .nav-buttons {
        margin: 10px;
    }

    .nav-buttons ul {
        margin: 1 rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fas {
        margin: 20px 5px 10px 20px;
    }

}

#home h1 span {
    color: orange;
    font-size: 3rem;
    font-weight: 800;
}

#home .stats,
#home .intro {
    margin-top: 3vw;
}

#home .stats span {
    font-size: 2rem;
    font-weight: 600;
    margin: 5px 10px;
}

#home p {
    font-size: 1rem;
    font-weight: 200;
}

.discover {
    margin-top: 2vw;
    font-size: 2.6rem;
}

.end-btn i {
    float: right;
}

.book {
    cursor: pointer;
    margin-bottom: 2rem;
}

.book a {
    text-decoration: none;
}

.book img {
    width: 70%;
    height: 80%;
    transition: 0.3s all;
}

.book:hover img {
    filter: opacity(0.6) drop-shadow(0 0 0 red);
}

.book .borrow-btn {
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
}

.book:hover .borrow-btn {
    transform: translateY(0px);
    opacity: 1;
}

hr {
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: white;
}

.star {
    padding: 10px 0;
}

.star i {
    font-size: 0.9rem;
    color: grey;
}


.star[data-rating="1"] i:nth-child(1),
.star[data-rating="2"] i:nth-child(-n+2),
.star[data-rating="3"] i:nth-child(-n+3),
.star[data-rating="4"] i:nth-child(-n+4),
.star[data-rating="5"] i:nth-child(-n+5) {
    color: goldenrod;
}

footer.standard {
    background-color: #112030;
}

footer.admin {
    background-color: #282323;
}

footer h5 {
    color: orange;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
}

footer .categories a {
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
}

footer li a:hover {
    color: red;
}

footer .social-tags a {
    color: white;
    height: 40px;
    width: 40px;
    transition: 0.3s ease;
    margin: 0 10px;
}

footer .social-tags a:hover {
    color: red;
}

.pagination a {
    color: white;
    background-color: #1b1616;
}

.pagination li:hover a {
    color: white;
    background-color: red;
}

.my-books .book-info {
    display: flex;
    flex-wrap: wrap;
}

table a {
    color: red;
    text-decoration: none;
    font-size: 16px;
    display: flex;
}

table a:hover {
    color: orange;
}

table th,
table tr {
    text-align: left;
}

#login-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid orangered;
}

#login-form input {
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn {
    background-color: orangered;
    color: white;
}

#login-form #register-url {
    color: orangered;
}

#login-form #register-url:hover {
    color: orange;
}

#register-form {
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid orangered;
}

#register-form input {
    width: 50%;
    margin: 5px auto;
}

#add-book-form {
    width: 50%;
    margin: 5px auto;
    text-align: left;
    padding: 20px;
    border-top: 1px solid orangered;
}

#add-book-form input {
    margin: 5px auto;
}

#add-book-form #add-book-btn {
    width: 50%;
    background-color: orangered;
    color: white;
}

#register-form #register-btn {
    background-color: orangered;
    color: white;
}

#register-form #login-url {
    color: orangered;
}

#register-form #login-url:hover {
    color: orange;
}

#account-form {
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input {
    margin: 5px auto;
}

#account-form #change-pass-btn {
    background-color: orangered;
    color: white;
}

.account-info #my-books-btn,
#logout-btn {
    color: orangered;
    text-decoration: none;
}

.account-info #my-books-btn:hover,
#logout-btn:hover {
    color: orange;
}

.modal-body {
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.star-rating i {
    color: gray;
    font-size: 2rem;
    cursor: pointer;
}

.star-rating i.active {
    color: goldenrod;
}

.carousel-inner {
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    height: 70vh;
    cursor: pointer;
}

.carousel-item img {
    opacity: 0.3;
}

.stack-Img {
    width: 100vw;
    height: 70vh;
    object-fit: cover;
}

.card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stat-val {
    font-size: 2.5rem;
    font-weight: 700;
}

.stat-card {
    width: 18rem;
}

.stat-val p {
    font-size: 2vw;
    margin-right: 5px;
}